{
  "openapi": "3.0.0",
  "info": {
    "title": "Order API",
    "description": "API for parcel delivery orders",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.street.ci/ecommerce",
      "description": "Production server"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "summary": "List Orders",
        "description": "Retrieve a list of parcel delivery orders",
        "responses": {
          "200": {
            "description": "A list of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a delivery order",
        "description": "Create a new delivery order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Delivery order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderReference}": {
      "get": {
        "summary": "Get a delivery order",
        "description": "Retrieve a specific delivery order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a delivery order",
        "description": "Update an existing delivery order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delivery order updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a delivery order",
        "description": "Delete a delivery order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delivery order deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order. It will allow you to modify or cancel the order if needed.",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total amount for the order, including delivery fee",
            "example": 100000
          },
          "cashOnDelivery": {
            "type": "boolean",
            "description": "Indicates if the payment is to be collected on delivery",
            "example": true
          },
          "items": {
            "type": "array",
            "description": "List of items in the order",
            "items": {
              "type": "object",
              "properties": {
                "reference": {
                  "type": "string",
                  "description": "Unique identifier for the item. It will allow you to be notified via webhook for each event on the specific item",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "size": {
                  "type": "string",
                  "description": "Size of the item",
                  "example": "S"
                },
                "dimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "quantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "totalPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "Total price of the item",
                  "example": 700000
                },
                "imageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "store": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the store",
                      "example": "42f22cc2-2467-11ef-9454-0242ac120002"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the store",
                      "example": "Abidjan Smartphone"
                    }
                  }
                },
                "pickupAddress": {
                  "type": "object",
                  "properties": {
                    "placeId": {
                      "type": "string",
                      "description": "Place ID of the pickup address",
                      "example": "ChIJj25rEpmUwQ8ROH4YrabOvdc"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the pickup address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the pickup address",
                      "example": -3.9947895
                    },
                    "locality": {
                      "type": "string",
                      "description": "Locality of the pickup address",
                      "example": "Cocody"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the pickup address",
                      "example": "Street Côte d'Ivoire, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the pickup address",
                      "example": "Socofrais, angré pétro ivoire"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number for pickup contact",
                      "example": "+2250142092323"
                    }
                  }
                },
                "deliveryAddress": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the delivery address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the delivery address",
                      "example": -3.9947895
                    },
                    "locality": {
                      "type": "string",
                      "description": "Locality of the delivery address",
                      "example": "Yopougon"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the delivery address",
                      "example": "8X9P+PQW, Rue Montigny, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the delivery address",
                      "example": "Nearest landmark"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number for delivery contact",
                      "example": "+2250546781941"
                    }
                  }
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Status code of the item",
                      "example": "DELIVERED"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the status",
                      "example": "The parcel has been delivered successfully"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the status",
                      "example": "2024-06-06T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "orderReference",
          "orderTotalAmount",
          "cashOnDelivery",
          "deliveryFee",
          "items"
        ]
      },
      "UpdateOrderRequest": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order. It will allow you to modify or cancel the order if needed.",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total amount for the order, including delivery fee",
            "example": 100000
          },
          "cashOnDelivery": {
            "type": "boolean",
            "description": "Indicates if the payment is to be collected on delivery",
            "example": true
          },
          "deliveryFee": {
            "type": "number",
            "format": "float",
            "description": "Fee for the delivery service",
            "example": 2000
          },
          "items": {
            "type": "array",
            "description": "List of items in the order",
            "items": {
              "type": "object",
              "properties": {
                "reference": {
                  "type": "string",
                  "description": "Unique identifier for the item. It will allow you to be notified via webhook for each event on the specific item",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "size": {
                  "type": "string",
                  "description": "Size of the item",
                  "example": "S"
                },
                "dimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "quantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "totalPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "Total price of the item",
                  "example": 700000
                },
                "imageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "store": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the store",
                      "example": "42f22cc2-2467-11ef-9454-0242ac120002"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the store",
                      "example": "Abidjan Smartphone"
                    }
                  }
                },
                "pickupAddress": {
                  "type": "object",
                  "properties": {
                    "placeId": {
                      "type": "string",
                      "description": "Place ID of the pickup address",
                      "example": "ChIJj25rEpmUwQ8ROH4YrabOvdc"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the pickup address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the pickup address",
                      "example": -3.9947895
                    },
                    "locality": {
                      "type": "string",
                      "description": "Locality of the pickup address",
                      "example": "Cocody"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the pickup address",
                      "example": "Street Côte d'Ivoire, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the pickup address",
                      "example": "Socofrais, angré pétro ivoire"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number for pickup contact",
                      "example": "+2250142092323"
                    }
                  }
                },
                "deliveryAddress": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the delivery address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the delivery address",
                      "example": -3.9947895
                    },
                    "locality": {
                      "type": "string",
                      "description": "Locality of the delivery address",
                      "example": "Yopougon"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the delivery address",
                      "example": "8X9P+PQW, Rue Montigny, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the delivery address",
                      "example": "Nearest landmark"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number for delivery contact",
                      "example": "+2250546781941"
                    }
                  }
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Status code of the item",
                      "example": "DELIVERED"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the status",
                      "example": "The parcel has been delivered successfully"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the status",
                      "example": "2024-06-06T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "orderReference",
          "orderTotalAmount",
          "cashOnDelivery",
          "deliveryFee",
          "items"
        ]
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order. It will allow you to modify or cancel the order if needed.",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total amount for the order, including delivery fee",
            "example": 100000
          },
          "cashOnDelivery": {
            "type": "boolean",
            "description": "Indicates if the payment is to be collected on delivery",
            "example": true
          },
          "deliveryFee": {
            "type": "number",
            "format": "float",
            "description": "Fee for the delivery service",
            "example": 2000
          },
          "items": {
            "type": "array",
            "description": "List of items in the order",
            "items": {
              "type": "object",
              "properties": {
                "reference": {
                  "type": "string",
                  "description": "Unique identifier for the item. It will allow you to be notified via webhook for each event on the specific item",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "size": {
                  "type": "string",
                  "description": "Size of the item",
                  "example": "S"
                },
                "dimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "quantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "totalPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "Total price of the item",
                  "example": 700000
                },
                "imageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "store": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the store",
                      "example": "42f22cc2-2467-11ef-9454-0242ac120002"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the store",
                      "example": "Abidjan Smartphone"
                    }
                  }
                },
                "pickupAddress": {
                  "type": "object",
                  "properties": {
                    "placeId": {
                      "type": "string",
                      "description": "Place ID of the pickup address",
                      "example": "ChIJj25rEpmUwQ8ROH4YrabOvdc"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the pickup address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the pickup address",
                      "example": -3.9947895
                    },
                    "locality": {
                      "type": "string",
                      "description": "Locality of the pickup address",
                      "example": "Cocody"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the pickup address",
                      "example": "Street Côte d'Ivoire, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the pickup address",
                      "example": "Socofrais, angré pétro ivoire"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number for pickup contact",
                      "example": "+2250142092323"
                    }
                  }
                },
                "deliveryAddress": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the delivery address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the delivery address",
                      "example": -3.9947895
                    },
                    "locality": {
                      "type": "string",
                      "description": "Locality of the delivery address",
                      "example": "Yopougon"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the delivery address",
                      "example": "8X9P+PQW, Rue Montigny, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the delivery address",
                      "example": "Nearest landmark"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number for delivery contact",
                      "example": "+2250546781941"
                    }
                  }
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Status code of the item",
                      "example": "DELIVERED"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the status",
                      "example": "The parcel has been delivered successfully"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the status",
                      "example": "2024-06-06T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "orderReference",
          "orderTotalAmount",
          "cashOnDelivery",
          "deliveryFee",
          "items"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
