{
  "openapi": "3.0.1",
  "info": {
    "title": "Order API",
    "description": "API for managing orders",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.street.ci/ecommerce",
      "description": "Production server"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "summary": "List Orders",
        "description": "Retrieve a list of orders",
        "responses": {
          "200": {
            "description": "A list of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Order",
        "description": "Create a new order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderReference}": {
      "get": {
        "summary": "Get Order",
        "description": "Retrieve a specific order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Order",
        "description": "Update an existing order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Order",
        "description": "Delete an order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Order deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order. It will allow you to modify or cancel the order if needed.",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total amount for the order, including delivery fee",
            "example": 100000.0
          },
          "cashOnDelivery": {
            "type": "boolean",
            "description": "Indicates if the total amount for the order is to be collected on delivery",
            "example": true
          },
          "items": {
            "type": "array",
            "description": "List of items in the order",
            "items": {
              "type": "object",
              "properties": {
                "itemReference": {
                  "type": "string",
                  "description": "Unique identifier for the item. It will allow you to be notified via webhook for each event on a specific item. Collection completed, Delivery in progress, Delivery completed, Delivery failed (recipient absent, incorrect delivery information, parcel refused, etc.), etc.",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "itemName": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "itemWeight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "itemSize": {
                  "type": "string",
                  "description": "Size of the item",
                  "example": "S"
                },
                "itemDimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "itemQuantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "itemTotalPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "Total price of the item",
                  "example": 700000.0
                },
                "itemImageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "storeName": {
                  "type": "string",
                  "description": "Name of the merchant's store",
                  "example": "Abidjan Smartphone"
                },
                "pickupAddressPlaceId": {
                  "type": "string",
                  "description": "Place ID of the pickup address. This can be the unique ID of the store in your system or the `place_id` corresponding to the latlng (latitude and longitude) of the store. See [Reverse geocoding request and response](https://developers.google.com/maps/documentation/geocoding/requests-reverse-geocoding)",
                  "example": "ChIJj25rEpmUwQ8ROH4YrabOvdc"
                },
                "pickupAddressLatitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude of the pickup address",
                  "example": 5.4054499
                },
                "pickupAddressLongitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude of the pickup address",
                  "example": -3.9947895
                },
                "pickupAddressLocality": {
                  "type": "string",
                  "description": "Locality of the pickup address",
                  "example": "Cocody"
                },
                "pickupAddressName": {
                  "type": "string",
                  "description": "Name of the pickup address",
                  "example": "Street Côte d'Ivoire, Abidjan"
                },
                "pickupAddressLandMark": {
                  "type": "string",
                  "description": "Landmark near the pickup address",
                  "example": "Socofrais, angré pétro ivoire"
                },
                "pickupPhoneNumber": {
                  "type": "string",
                  "description": "Phone number for pickup contact",
                  "example": "+2250142092323"
                },
                "deliveryAddressLatitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude of the delivery address",
                  "example": 5.4054499
                },
                "deliveryAddressLongitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude of the delivery address",
                  "example": -3.9947895
                },
                "deliveryAddressLocality": {
                  "type": "string",
                  "description": "Locality of the delivery address",
                  "example": "Yopougon"
                },
                "deliveryAddressName": {
                  "type": "string",
                  "description": "Name of the delivery address",
                  "example": "8X9P+PQW, Rue Montigny, Abidjan"
                },
                "deliveryAddressLandMark": {
                  "type": "string",
                  "description": "Landmark near the delivery address",
                  "example": "Nearest landmark"
                },
                "deliveryPhoneNumber": {
                  "type": "string",
                  "description": "Phone number for delivery contact",
                  "example": "+2250546781941"
                }
              },
              "required": [
                "itemReference",
                "itemName",
                "itemWeight",
                "itemSize",
                "itemDimension",
                "itemQuantity",
                "itemTotalPrice",
                "itemImageUrl",
                "storeName",
                "pickupAddressPlaceId",
                "pickupAddressLatitude",
                "pickupAddressLongitude",
                "pickupAddressLocality",
                "pickupAddressName",
                "pickupAddressLandMark",
                "pickupPhoneNumber",
                "deliveryAddressLatitude",
                "deliveryAddressLongitude",
                "deliveryAddressLocality",
                "deliveryAddressLandMark",
                "deliveryPhoneNumber"
              ]
            }
          }
        },
        "required": [
          "orderReference",
          "orderTotalAmount",
          "deliveryFee",
          "cashOnDelivery",
          "items"
        ]
      },
      "UpdateOrderRequest": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total amount for the order",
            "example": 100000.0
          },
          "deliveryFee": {
            "type": "number",
            "format": "float",
            "description": "Fee for the delivery service",
            "example": 2000.0
          },
          "cashOnDelivery": {
            "type": "boolean",
            "description": "Indicates if the payment is to be collected on delivery",
            "example": true
          },
          "items": {
            "type": "array",
            "description": "List of items in the order",
            "items": {
              "type": "object",
              "properties": {
                "itemReference": {
                  "type": "string",
                  "description": "Unique identifier for the item",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "itemName": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "itemWeight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "itemSize": {
                  "type": "string",
                  "description": "Size of the item",
                  "example": "S"
                },
                "itemDimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "itemQuantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "itemTotalPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "Total price of the item",
                  "example": 700000.0
                },
                "itemImageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "storeName": {
                  "type": "string",
                  "description": "Name of the store",
                  "example": "Abidjan Smartphone"
                },
                "pickupAddressPlaceId": {
                  "type": "string",
                  "description": "Place ID of the pickup address",
                  "example": "ChIJj25rEpmUwQ8ROH4YrabOvdc"
                },
                "pickupAddressLatitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude of the pickup address",
                  "example": 5.4054499
                },
                "pickupAddressLongitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude of the pickup address",
                  "example": -3.9947895
                },
                "pickupAddressLocality": {
                  "type": "string",
                  "description": "Locality of the pickup address",
                  "example": "Cocody"
                },
                "pickupAddressName": {
                  "type": "string",
                  "description": "Name of the pickup address",
                  "example": "Street Côte d'Ivoire, Abidjan"
                },
                "pickupAddressLandMark": {
                  "type": "string",
                  "description": "Landmark near the pickup address",
                  "example": "Socofrais, angré pétro ivoire"
                },
                "pickupPhoneNumber": {
                  "type": "string",
                  "description": "Phone number for pickup contact",
                  "example": "+2250142092323"
                },
                "deliveryAddressLatitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude of the delivery address",
                  "example": 5.4054499
                },
                "deliveryAddressLongitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude of the delivery address",
                  "example": -3.9947895
                },
                "deliveryAddressLocality": {
                  "type": "string",
                  "description": "Locality of the delivery address",
                  "example": "Yopougon"
                },
                "deliveryAddressName": {
                  "type": "string",
                  "description": "Name of the delivery address",
                  "example": "8X9P+PQW, Rue Montigny, Abidjan"
                },
                "deliveryAddressLandMark": {
                  "type": "string",
                  "description": "Landmark near the delivery address",
                  "example": "Nearest landmark"
                },
                "deliveryPhoneNumber": {
                  "type": "string",
                  "description": "Phone number for delivery contact",
                  "example": "+2250546781941"
                }
              },
              "required": [
                "itemReference",
                "itemName",
                "itemWeight",
                "itemSize",
                "itemDimension",
                "itemQuantity",
                "itemTotalPrice",
                "itemImageUrl",
                "storeName",
                "pickupAddressPlaceId",
                "pickupAddressLatitude",
                "pickupAddressLongitude",
                "pickupAddressLocality",
                "pickupAddressName",
                "pickupAddressLandMark",
                "pickupPhoneNumber",
                "deliveryAddressLatitude",
                "deliveryAddressLongitude",
                "deliveryAddressLocality",
                "deliveryAddressName",
                "deliveryAddressLandMark",
                "deliveryPhoneNumber"
              ]
            }
          }
        },
        "required": [
          "orderReference",
          "orderTotalAmount",
          "deliveryFee",
          "cashOnDelivery",
          "items"
        ]
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order. It will allow you to modify or cancel the order if needed.",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "orderTotalAmount": {
            "type": "number",
            "format": "float",
            "description": "Total amount for the order, including delivery fee",
            "example": 100000.0
          },
          "cashOnDelivery": {
            "type": "boolean",
            "description": "Indicates if the total amount for the order is to be collected on delivery",
            "example": false
          },
          "deliveryFee": {
            "type": "number",
            "format": "float",
            "description": "Fee for the delivery service",
            "example": 2000.0
          },
          "items": {
            "type": "array",
            "description": "List of items in the order",
            "items": {
              "type": "object",
              "properties": {
                "itemReference": {
                  "type": "string",
                  "description": "Unique identifier for the item. It will allow you to be notified via webhook for each event on a specific item. Collection completed, Delivery in progress, Delivery completed, Delivery failed (recipient absent, incorrect delivery information, parcel refused, etc.), etc.",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "itemName": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "itemWeight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "itemSize": {
                  "type": "string",
                  "description": "Size of the item",
                  "example": "S"
                },
                "itemDimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "itemQuantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "itemTotalPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "Total price of the item",
                  "example": 700000.0
                },
                "itemImageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "storeName": {
                  "type": "string",
                  "description": "Name of the merchant's store",
                  "example": "Abidjan Smartphone"
                },
                "pickupAddressPlaceId": {
                  "type": "string",
                  "description": "Place ID of the pickup address. This can be the unique ID of the store in your system or the `place_id` corresponding to the latlng (latitude and longitude) of the store. See [Reverse geocoding request and response](https://developers.google.com/maps/documentation/geocoding/requests-reverse-geocoding)",
                  "example": "ChIJj25rEpmUwQ8ROH4YrabOvdc"
                },
                "pickupAddressLatitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude of the pickup address",
                  "example": 5.4054499
                },
                "pickupAddressLongitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude of the pickup address",
                  "example": -3.9947895
                },
                "pickupAddressLocality": {
                  "type": "string",
                  "description": "Locality of the pickup address",
                  "example": "Cocody"
                },
                "pickupAddressName": {
                  "type": "string",
                  "description": "Name of the pickup address",
                  "example": "Street Côte d'Ivoire, Abidjan"
                },
                "pickupAddressLandMark": {
                  "type": "string",
                  "description": "Landmark near the pickup address",
                  "example": "Socofrais, angré pétro ivoire"
                },
                "pickupPhoneNumber": {
                  "type": "string",
                  "description": "Phone number for pickup contact",
                  "example": "+2250142092323"
                },
                "deliveryAddressLatitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude of the delivery address",
                  "example": 5.4054499
                },
                "deliveryAddressLongitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude of the delivery address",
                  "example": -3.9947895
                },
                "deliveryAddressLocality": {
                  "type": "string",
                  "description": "Locality of the delivery address",
                  "example": "Yopougon"
                },
                "deliveryAddressName": {
                  "type": "string",
                  "description": "Name of the delivery address",
                  "example": "8X9P+PQW, Rue Montigny, Abidjan"
                },
                "deliveryAddressLandMark": {
                  "type": "string",
                  "description": "Landmark near the delivery address",
                  "example": "Nearest landmark"
                },
                "deliveryPhoneNumber": {
                  "type": "string",
                  "description": "Phone number for delivery contact",
                  "example": "+2250546781941"
                }
              },
              "required": [
                "itemReference",
                "itemName",
                "itemWeight",
                "itemSize",
                "itemDimension",
                "itemQuantity",
                "itemTotalPrice",
                "itemImageUrl",
                "storeName",
                "pickupAddressPlaceId",
                "pickupAddressLatitude",
                "pickupAddressLongitude",
                "pickupAddressLocality",
                "pickupAddressName",
                "pickupAddressLandMark",
                "pickupPhoneNumber",
                "deliveryAddressLatitude",
                "deliveryAddressLongitude",
                "deliveryAddressLocality",
                "deliveryAddressLandMark",
                "deliveryPhoneNumber"
              ]
            }
          }
        },
        "required": [
          "orderReference",
          "orderTotalAmount",
          "deliveryFee",
          "cashOnDelivery",
          "items"
        ]
      },
      "BadRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "example": "pickupAddressLatitude' is required."
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 401
          },
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Authentication is required. MerchantId or ApiKey is invalid or missing."
          }
        }
      },
      "Forbidden": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 403
          },
          "error": {
            "type": "string",
            "example": "Not Found"
          },
          "message": {
            "type": "string",
            "example": "You do not have permission to access this resource."
          }
        }
      },
      "NotFound": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "example": 404
          },
          "error": {
            "type": "string",
            "example": "Not Found"
          },
          "message": {
            "type": "string",
            "example": "The requested resource could not be found."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
