{
  "openapi": "3.0.0",
  "info": {
    "title": "Street Delivery Order API",
    "description": "API for managing delivery orders",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.street.ci/ecommerce",
      "description": "Production server"
    },
    {
      "url": "https://devapi.street.ci/ecommerce",
      "description": "Test server"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "summary": "List Delivery Orders",
        "description": "Retrieve a list of delivery orders",
        "responses": {
          "200": {
            "description": "A list of delivery orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Delivery Order",
        "description": "Create a new delivery order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Delivery order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderReference}": {
      "get": {
        "summary": "Get Delivery Order",
        "description": "Retrieve a specific delivery order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "description": "Unique identifier of the order. This is the order reference that you provided when creating the delivery order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Cancel Delivery Order",
        "description": "Cancel an existing delivery order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "description": "Unique identifier of the order. This is the order reference that you provided when creating the delivery order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery order canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Delivery Order",
        "description": "Delete a delivery order by reference",
        "parameters": [
          {
            "in": "path",
            "name": "orderReference",
            "description": "Unique identifier of the order. This is the order reference that you provided when creating the delivery order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delivery order deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrderRequest": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order. This is a custom field that you can fill with any reference that identifies the order in your system.",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "deliveryAddress": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "format": "float",
                "description": "Latitude of the delivery address",
                "example": 5.4054499
              },
              "longitude": {
                "type": "number",
                "format": "float",
                "description": "Longitude of the delivery address",
                "example": -3.9947895
              },
              "city": {
                "type": "string",
                "description": "City of the delivery address",
                "example": "Cocody"
              },
              "name": {
                "type": "string",
                "description": "Name of the delivery address",
                "example": "Street Côte d'Ivoire, Angré pétro, Abidjan"
              },
              "landmark": {
                "type": "string",
                "description": "Landmark near the delivery address",
                "example": "Socofrais"
              },
              "phoneNumber": {
                "type": "string",
                "description": "Phone number to call at delivery",
                "example": "+2250546781941"
              }
            },
            "required": ["city", "landmark", "phoneNumber"]
          },
          "items": {
            "type": "array",
            "description": "List of items in the delivery order",
            "items": {
              "type": "object",
              "properties": {
                "reference": {
                  "type": "string",
                  "description": "Unique identifier for the order item. This is a custom field that you can fill with any reference that identifies the order item in your system. It will be used to send webhook events to your system when an event occurs in the parcel delivery process.",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "size": {
                  "type": "string",
                  "description": "Size of the item. Available options: `S`, `M`, `L`, `XL`, `XXL`.",
                  "example": "S"
                },
                "dimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "quantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "amountToCollect": {
                  "type": "number",
                  "format": "float",
                  "description": "Amount to collect for the item in case of cash on delivery",
                  "example": 500000
                },
                "imageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "purchaseLink": {
                  "type": "string",
                  "description": "URL directing users to the webpage where they can view details and purchase the item.",
                  "example": "https://www.apple.com/ci/iphone-15-pro/specs"
                },
                "pickupAddress": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the pickup address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the pickup address",
                      "example": -3.9947895
                    },
                    "city": {
                      "type": "string",
                      "description": "City of the pickup address",
                      "example": "Cocody"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the pickup address",
                      "example": "Apple store, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the pickup address",
                      "example": "Socofrais, angré pétro ivoire"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number to call at pickup",
                      "example": "+2250142092323"
                    }
                  },
                  "required": [
                    "latitude",
                    "longitude",
                    "city",
                    "name",
                    "landmark",
                    "phoneNumber"
                  ]
                }
              },
              "required": [
                "reference",
                "name",
                "size",
                "quantity",
                "amountToCollect",
                "imageUrl",
                "purchaseLink",
                "pickupAddress"
              ]
            }
          }
        },
        "required": ["orderReference", "deliveryAddress", "items"]
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "orderReference": {
            "type": "string",
            "description": "Unique identifier for the order. This is a custom field that you can fill with any reference that identifies the order in your system.",
            "example": "19410b7e-4e21-48d2-a309-21625d7d2f57"
          },
          "deliveryFee": {
            "type": "number",
            "format": "float",
            "description": "Fee for the delivery service",
            "example": 2000
          },
          "deliveryAddress": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "format": "float",
                "description": "Latitude of the delivery address",
                "example": 5.4054499
              },
              "longitude": {
                "type": "number",
                "format": "float",
                "description": "Longitude of the delivery address",
                "example": -3.9947895
              },
              "city": {
                "type": "string",
                "description": "City of the delivery address",
                "example": "Cocody"
              },
              "name": {
                "type": "string",
                "description": "Name of the delivery address",
                "example": "Street Côte d'Ivoire, Angré pétro, Abidjan"
              },
              "landmark": {
                "type": "string",
                "description": "Landmark near the delivery address",
                "example": "Socofrais"
              },
              "phoneNumber": {
                "type": "string",
                "description": "Phone number to call at delivery",
                "example": "+2250546781941"
              }
            },
            "required": ["city", "landmark", "phoneNumber"]
          },
          "items": {
            "type": "array",
            "description": "List of items in the delivery order",
            "items": {
              "type": "object",
              "properties": {
                "reference": {
                  "type": "string",
                  "description": "Unique identifier for the order item. This is a custom field that you can fill with any reference that identifies the order item in your system. It will be used to send webhook events to your system when an event occurs in the parcel delivery process.",
                  "example": "0da108ae-3f6c-41ba-ba3b-69062bf255e4"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item",
                  "example": "iPhone 15 Pro Max"
                },
                "weight": {
                  "type": "number",
                  "format": "float",
                  "description": "Weight of the item",
                  "example": 0.187
                },
                "size": {
                  "type": "string",
                  "description": "Size of the item. Available options: `S`, `M`, `L`, `XL`, `XXL`.",
                  "example": "S"
                },
                "dimension": {
                  "type": "string",
                  "description": "Dimensions of the item",
                  "example": "L x l x H: 16cm x 30cm"
                },
                "quantity": {
                  "type": "integer",
                  "description": "Quantity of the item",
                  "example": 1
                },
                "amountToCollect": {
                  "type": "number",
                  "format": "float",
                  "description": "Amount to collect for the item in case of cash on delivery",
                  "example": 500000
                },
                "imageUrl": {
                  "type": "string",
                  "description": "Image URL of the item",
                  "example": "https://placehold.co/720.png"
                },
                "purchaseLink": {
                  "type": "string",
                  "description": "URL directing users to the webpage where they can view details and purchase the item.",
                  "example": "https://www.apple.com/ci/iphone-15-pro/specs"
                },
                "pickupAddress": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the pickup address",
                      "example": 5.4054499
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the pickup address",
                      "example": -3.9947895
                    },
                    "city": {
                      "type": "string",
                      "description": "City of the pickup address",
                      "example": "Cocody"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the pickup address",
                      "example": "Apple store, Abidjan"
                    },
                    "landmark": {
                      "type": "string",
                      "description": "Landmark near the pickup address",
                      "example": "Socofrais, angré pétro ivoire"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone number to call at pickup",
                      "example": "+2250142092323"
                    }
                  },
                  "required": [
                    "latitude",
                    "longitude",
                    "city",
                    "name",
                    "landmark",
                    "phoneNumber"
                  ]
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Status code of the item. See [Delivery Tracking Statuses](/documentation/delivery_tracking_statuses)",
                      "example": "REGISTERED"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the status",
                      "example": "The delivery order has been registered"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the status",
                      "example": "2024-06-06T12:00:00Z"
                    }
                  },
                  "required": ["code", "description", "timestamp"]
                }
              },
              "required": [
                "reference",
                "name",
                "size",
                "quantity",
                "amountToCollect",
                "imageUrl",
                "purchaseLink",
                "pickupAddress",
                "status"
              ]
            }
          }
        },
        "required": [
          "orderReference",
          "deliveryFee",
          "deliveryAddress",
          "items"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
